<%= form_for(@article) do |f| %>
<%= render "shared/errors", model: @article %>
<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :tag_list %><br />
  <%= f.text_field :tag_list %>
</p>
<% unless @article.new_record? %>
<p>
  <%= f.label :seo_term %><br />
  <%= f.text_field :seo_term %>
</p>
<% end %>
<p>
  <%= f.label :body %><br />
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit %>
  <%= link_to "Cancel", @article %>
</p>
<% end %>
