<%= form_for(@article) do |f| %>
<%= render "shared/errors", model: @article %>
<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :body %><br />
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit %>
  <%= link_to "Cancel", @article %>
</p>
<% end %>
