<h1><%= @article.title %></h1>

<%= link_to "Back to Articles", articles_path, class: "new_article" %>

[
<%= link_to "Edit", edit_article_path(@article) %>
|
<%= link_to "Delete", @article, method: :delete,
    confirm: "Do you REALLY want to delete '#{@article.title}'?" %>
]<br /><br />

<p>
  <b>Tags:</b>
  <%= tag_links(@article.tags) %>
</p>

<% if @article.seo_term %>
<p>
  <b>SEO:</b>
  <%= @article.seo_term %>
</p>
<% end %>

<hr />
<p>
  <%= @article.body %>
</p>
<hr />

<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render partial: "comment", collection: @article.comments %>
<%= render partial: "comment_form" %>
