<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash.keys.each do |key| %>
<p class="flash"><%= flash[key] %></p>
<% end %>

<%= yield %>

</body>
</html>
